{%- assign size = customer.metafields.wholesaler_pro.discount_group_id | size -%}
{%- if customer.metafields.wholesaler_pro and size != 0 -%}{%- assign wspro = true -%}{%- endif -%}

{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
{% if product.available %}
  {% if settings.size_chart != blank %}
    <a href="#size-chart" class="lightbox size_chart">{{ 'products.product.size_chart' | t }}</a>
  {% endif %}

  <form action="/cart/add" method="post" class="clearfix product_form" data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" id="product-form-{{ product.id }}" class="shapp_qb_prod">
    
    {% if settings.display_inventory_left %}
      <div class="items_left">
        {% if bold_selected_or_first_available_variant.inventory_management == "shopify" and bold_selected_or_first_available_variant.inventory_quantity > 0 %}
          {% capture items_left_text %}
            {% if bold_selected_or_first_available_variant.inventory_quantity == 1 %}
              {{ 'products.product.items_left_count.one' | t }}
            {% else %}
              {{ 'products.product.items_left_count.other' | t }}
            {% endif %}
          {% endcapture %}

          <p><em>{{ bold_selected_or_first_available_variant.inventory_quantity }} {{ items_left_text }}</em></p>
        {% endif %}
      </div>
    {% endif %}
    
    {% if product.options.size > 1 %}
      <div class="select">
        <select id="product-select-{{ product.id }}{{ product-form }}" name="id" class="multi_select">
          {% for variant in product.variants %}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
            <option {% if variant == bold_selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% elsif product.options.size == 1 and (bold_variants_size > 1 or product.options[0] != "Title") %}
      <div class="select">
        <label>{{ product.options[0] }}</label>
        <select id="product-select-{{ product.id }}{{ product-form }}" name="id">
          {% for variant in product.variants %}
{%- include 'bold-variant' with variant, hide_action: 'skip' -%}
            <option {% if variant == bold_selected_or_first_available_variant %}selected="selected"{% endif %} value="{{ variant.id }}" data-sku="{{ variant.sku }}">{{ variant.title }}</option>
          {% endfor %}
        </select>
      </div>
    {% else %}
      <input type="hidden" name="id" value="{{ bold_selected_or_first_available_variant.id }}" />
    {% endif %}

    {% if settings.product_form_style == "swatches" and (bold_variants_size > 1 or product.options[0] != "Title") %}
      <div class="swatch_options">
        {% for option in product.options %}
          {% include 'product-swatch' with option %}
        {% endfor %}
      </div>
    {% endif %}
    
    

    {% unless qb_loaded == 'true' %}
    <div class="shappify-qty-msg">{{bold_selected_or_first_available_variant.metafields.shappify_csp.pricing_html}}</div>
    {% assign qb_loaded = 'true' %}
    {% endunless %}

    {% if settings.display_product_quantity %}
      <div class="left">
         {% if customer.tags contains 'Wholesaler' or wspro %}
         	{% assign mistags = product.tags %}
            {% include 'wholesaler-product-minimum' %}
            <label for="quantity">{{ 'products.product.quantity' | t }}</label>
			<input type="number" {% if wsmin %} min="{{wsmin}}" {% endif %} size="2" class="quantity" name="quantity" id="quantity" value="{% if wsmin %}{{wsmin}}{%else%}1{% endif %}" {% if bold_selected_or_first_available_variant.inventory_management == 'shopify' and bold_selected_or_first_available_variant.inventory_quantity > 0 and bold_selected_or_first_available_variant.inventory_policy == "deny" %}max="{{ bold_selected_or_first_available_variant.inventory_quantity }}"{% endif %} />
            <br/>{% if wsmin %} Minimum quantity: {{ wsmin }} <br> {%endif%} 
         {% else %}
            <label for="quantity">{{ 'products.product.quantity' | t }}</label>
        	<input type="number" min="1" size="2" class="quantity" name="quantity" id="quantity" value="1" {% if bold_selected_or_first_available_variant.inventory_management == 'shopify' and bold_selected_or_first_available_variant.inventory_quantity > 0 and bold_selected_or_first_available_variant.inventory_policy == "deny" %}max="{{ bold_selected_or_first_available_variant.inventory_quantity }}"{% endif %} />
         {% endif%}
    </div>
    {% endif %}
    <div class="purchase clearfix {% if settings.display_product_quantity %}inline_purchase{% endif %}">
      {% if settings.cart_action == 'reload_page' %}
        <input type="hidden" name="return_to" value="back" />
      {% elsif settings.cart_action == 'redirect_checkout' %}
        <input type="hidden" name="return_to" value="/checkout" />
      {% endif %}

      {% capture add_to_cart_label %}{% if collection_handles contains 'pre-order' %}{{ 'collections.general.pre_order' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endif %}{% endcapture %}
      <button type="submit" name="add" id='btn_addtocart' class="action_button add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ add_to_cart_label }}</span></button>
    </div>  
  </form>



  {% if bold_variants_size > 1 or product.options.size > 1 %}
    <script type="text/javascript">
      // <![CDATA[  
        $(function() {    
          $product = $('.product-' + {{ product.id }});
          new Shopify.OptionSelectors("product-select-{{ product.id }}{{ product-form }}", { product: {%- include 'bold-product', output: 'json' -%}, onVariantSelected: selectCallback{% if template contains 'product' %}, enableHistoryState: true{% endif %} });          
      });
      
      // ]]>
      
      {% if customer.tags contains 'Wholesaler' or wspro %}
      
      	var min = 1
      	{% if wsmin %} min={{wsmin}} {% endif %}
      
       
          $('#btn_addtocart').click(function(e){
        
              e.preventDefault();
              if($('#quantity').val() >= min){
                      $('#product-form-{{ product.id }}').submit()
                
        	}
        
        
        })
          
      {% endif %}
      
      
    </script>
  {% endif %}
{% endif %}