{% comment %} bold edit to make wholesaler-collection-price work with {% endcomment %}

{% comment %}


{% assign pr_varies =  pr.price_varies %}
{% assign pr_price_max = pr.price_max %}
{% assign pr_price_min = pr.price_min %}
{% assign pr_compare_at_price_max = pr.compare_at_price_max %}
{% assign pr_compare_at_price_max = pr.compare_at_price_min %}
{% assign pr_compare_at_price= pr.compare_at_price %}


{% endcomment %}

{% include 'bold-product' with pr, hide_action: 'skip' %}
{% assign pr_varies =  bold_price_varies %}
{% assign pr_price_max = bold_price_max %}
{% assign pr_price_min = bold_price_min %}
{% assign pr_compare_at_price_max = bold_compare_at_price_max %}
{% assign pr_compare_at_price_max = bold_compare_at_price_min %}
{% assign pr_compare_at_price = bold_compare_at_price %}



{% assign has_wholesaler_variants = false%}
{% for variant in pr.variants %}
{% if variant.metafields.Wholesaler.level or variant.title contains '(Wholesale' or variant.title contains '(wholesale' %}
{% assign has_wholesaler_variants = true%}
{% endif %}
{% endfor %}
{% if has_wholesaler_variants %}
{% if customer.tags contains 'Wholesaler' %}
{% assign pr_price = pr.price_min %}
{% assign pr_price_min = pr_price %}
{% assign pr_varies =  false %}
{% assign pr_price_max = pr_price %}
{% assign pr_compare_at_price_max = pr_price %}
{% assign pr_compare_at_price_min = pr_price %}
{% assign pr_compare_at_price= pr_price %}
{% for variant in pr.variants %}
{% if variant.metafields.Wholesaler.level or variant.title contains '(Wholesale' or variant.title contains '(wholesale' %}
{% if bold_variant_price > pr_price_min %}
{% assign pr_varies =  true %}
{% assign pr_price_max = bold_variant_price %}
{% assign pr_compare_at_price_max = bold_variant_price %}
{% endif %}
{% endif %}
{% endfor %}
{% else %}
{% assign pr_price = pr.price_max %}
{% assign pr_price_min = pr_price %}
{% assign pr_varies =  false %}
{% assign pr_price_max = pr_price %}
{% assign pr_compare_at_price_max = pr_price %}
{% assign pr_compare_at_price_min = pr_price %}
{% assign pr_compare_at_price_max = 0 %}
{% assign pr_compare_at_price= pr.compare_at_price %}
{% for variant in pr.variants %}
{% if variant.metafields.Wholesaler.level or variant.title contains '(Wholesale' or variant.title contains '(wholesale' %}
{% else %}
{% if bold_variant_price < pr_price %}
{% assign pr_varies = true %}
{% assign pr_price_min = bold_variant_price %}
{% assign pr_price = bold_variant_price %}
{% assign pr_compare_at_price_min = bold_variant_price %}
{% endif %}
{% endif %}
{% endfor %}
{% endif %}
{% else %} 


{% comment %} bold edit to make wholesaler-collection-price work with {% endcomment %}

{% comment %}

{% assign pr_price = pr.price %}
{% assign pr_varies =  pr.price_varies %}
{% assign pr_price_max = pr.price_max %}
{% assign pr_price_min = pr.price_min %}
{% assign pr_compare_at_price_max = pr.compare_at_price_max %}
{% assign pr_compare_at_price_max = pr.compare_at_price_min %}
{% assign pr_compare_at_price= pr.compare_at_price %}
{% endif %}

{% endcomment %}

{% include 'bold-product' with pr, hide_action: 'skip' %}

{% assign pr_price = bold_price %}
{% assign pr_varies =  bold_price_varies %}
{% assign pr_price_max = bold_price_max %}
{% assign pr_price_min = bold_price_min %}
{% assign pr_compare_at_price_max = bold_compare_at_price_max %}
{% assign pr_compare_at_price_max = bold_compare_at_price_min %}
{% assign pr_compare_at_price = bold_compare_at_price %}
{% endif %}