<script type="text/javascript" src="https://d3ef4tzd6rickn.cloudfront.net/assets/wholesaler-pro.js"></script>

<script type="text/javascript">
  (function() {
    var loadScript = function(url, callback){
      var script = document.createElement("script")
      script.type = "text/javascript";
      if (script.readyState){  //IE
          script.onreadystatechange = function(){
              if (script.readyState == "loaded" ||
                      script.readyState == "complete"){
                  script.onreadystatechange = null;
                  callback();
              }
          };
      } else {script.onload = function(){callback()}}
      script.src = url;
      document.getElementsByTagName("head")[0].appendChild(script);
    };

    var initLibrary = function($){
      var cart = {{ cart | json }};
      var itemsWithCollecionIds = [];
      {% for item in cart.items %}
      var collectionIds = [];
      {% for collection in item.product.collections %}
      collectionIds.push({{ collection.id }});
      {% endfor %}
      var item = JSON.parse(JSON.stringify({{ item | json }}));
      item.collection_ids = collectionIds;
      itemsWithCollecionIds.push(item);
      {% endfor %}
      cart.items = itemsWithCollecionIds;

      {% if customer %}
      {% if shop.metafields.wholesaler_pro[customer.metafields.wholesaler_pro.discount_group_id] contains '"draft_order":true' %}
        {% assign create_draft_order = true %}
      {% else %}
        {% assign create_draft_order = false %}
      {% endif %}
      $(function() {
        var checkoutBtnSelectors = ["input[name='checkout']", "button[name='checkout']", "[href$='checkout']", "input[name='goto_pp']", "button[name='goto_pp']", "input[name='goto_gc']", "button[name='goto_gc']", ".additional-checkout-button", ".google-wallet-button-holder", ".amazon-payments-pay-button"].join(',');
        var formElement = $(document).find('[action*="cart"]');
        var clearCart = function () {
          $.ajax({type: "POST", url: '/cart/clear.js', dataType: 'json'});
        }
        $(checkoutBtnSelectors).on('click', function(ev) {
          ev.preventDefault();
          var wp = Object.create(WholesalerPro);
          wp.init({storeName: '{{ shop.permanent_domain | remove: ".myshopify.com" }}', checkoutForm: $(formElement)});
          {% if create_draft_order %}
            wp.createDraftOrder(cart, {{ customer.id }}, function(data) {
              clearCart();
              alert('Order processed successfully');
              window.location = '/';
            }, function(error) {
              alert('There was an error processing your order, please try again');
            });
          {% else %}
            wp.checkout(cart, {{ customer.id }});
          {% endif %}
        });
      });
      {% endif %}
    };

    if ((typeof jQuery === 'undefined') || (parseFloat(jQuery.fn.jquery) < 1.7)) {
      loadScript('//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js', function(){
        jQuery191 = jQuery.noConflict(true);
        initLibrary(jQuery191);
      });
    } else {
      initLibrary(jQuery);
    }
  })();
</script>
