<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="cleartype" content="on">
    <meta name="robots" content="index,follow">
    {% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}       
    <title>{% if template contains "index" %}{{ page_title }}{% else %}{{ page_title }}{% if current_tags %} {{ 'general.meta.tagged_html' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} {{ 'general.meta.page' | t: page_number: current_page }}{% endif %}{% unless page_title contains shop.name %} - {{ shop.name }}{% endunless %}{% endif %}</title>
    {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}" />
    {% endif %}

    <!-- Custom Fonts -->
    {% if settings.logo_font contains 'Google' or settings.headline_font contains 'Google' or settings.nav_font contains 'Google' or settings.regular_font contains 'Google' %}
    <link href="//fonts.googleapis.com/css?family=.|{% if settings.logo_font contains 'Google' %}{{ settings.logo_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.headline_font contains 'Google' %}{{ settings.headline_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.nav_font contains 'Google' %}{{ settings.nav_font | replace: 'Google_', '' }}:light,normal,bold|{% endif %}{% if settings.regular_font contains 'Google' %}{{ settings.regular_font | replace: 'Google_', ''  }}:light,normal,bold{% endif %}" rel="stylesheet" type="text/css" />
    {% endif %}

    {% include 'social-meta-info' %}
    {% if collection.previous_product %}
    <link rel="prev" href="{{ collection.previous_product }}">
    {% endif %}

    {% if collection.next_product %}
    <link rel="next" href="{{ collection.next_product }}">
    {% endif %}

    <!-- Mobile Specific Metas -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 

    <!-- Stylesheets for Retina 3.2 -->
    {{ 'styles.scss.css' | asset_url | stylesheet_tag }}
    <!--[if lte IE 9]-->
    {{ 'ie.css' | asset_url | stylesheet_tag }}
    <!--[endif]-->

    <link rel="shortcut icon" type="image/x-icon" href="{{ 'favicon.png' | asset_url }}">
    <link rel="canonical" href="{{ canonical_url }}" />

    {% if template contains 'customer' %}
    {{ "shopify_common.js" | shopify_asset_url | script_tag }}
    {{ "customer_area.js"  | shopify_asset_url | script_tag }}
    {% endif %}

    {{ 'app.js' | asset_url | script_tag }}
    {% if settings.product_slideshow_animation == 'zoom' %}{{ "cloudzoom.js" | asset_url | script_tag }}{% endif %}
    {{ 'option_selection.js' | shopify_asset_url | script_tag }}        
    {{ content_for_header }}
    {%- include 'bold-common' -%}
    {%- include 'bold-product' with product, hide_action: 'header' -%}

    <script>
        $(document).on('change', '.single-option-selector', function() {
            setTimeout(function() { $('.shappify-qty-msg').html($('#variant_html_'+$('[name=id]').val()).html()) }, 50);
        });
    </script>
</head>
<body class="{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}">
    <div id="content_wrapper">
    {% section 'header' %}
    {% unless template contains "index" and settings.slideshow_enabled %}
        <div class="container main content"> 
    {% endunless %}
    {% unless settings.featured_content_page == blank or template contains "index" %}
            <div class="sixteen columns">
                <div class="section clearfix featured_content">
                    {{ pages[settings.featured_content_page].content }}
                </div><!--/section-->
            </div>
    {% endunless %}
    {% if template contains 'list-collections' %}
        {% include 'collection-listing' %}
    {% else %}
        {{ content_for_layout }}
    {% endif %}
        </div><!--/container-->
    {% section 'footer' %}
    {% if settings.size_chart != blank %}
        <div id="size-chart">
            <h5 class="center">{{ pages[settings.size_chart].title }}</h5>
            {{ pages[settings.size_chart].content }}
        </div><!--/#size-chart-->
    {% endif %}
    {% include 'newsletter-popup' %}
    {% include 'currencies' %}
    {% if settings.disqus_enabled and settings.blog_comment_count %}
        {% if template contains "blog" or template contains "article" or template contains "index" %}
        <script id="dsq-count-scr" src="//{{ settings.disqus_shortname }}.disqus.com/count.js" async></script>
        {% endif %}
    {% endif %}
    </div><!--/#content-wrapper-->
    <script>
        $(document).on("click", ".minus", function(e) { 
            e.preventDefault()
        });
    </script>
    <script type="text/javascript" charset="utf-8">
        var shappify_customer_tags = {{ customer.tags | json }}
    </script>
</body>
</html>