{% comment %}
    Site Footer
{% endcomment %}

<div class="sub-footer">
    <div class="container">
        <div class="four columns">
{% if settings.footer_linklist_1 != blank %}
            <h6 class="title">{{ linklists[settings.footer_linklist_1].title }}</h6>
            <ul class="footer_menu">
{% for link in linklists[settings.footer_linklist_1].links %}
                <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
{% endfor %}
            </ul><!--/footer-menu-->
{% endif %}
        </div><!--/columns-->
        <div class="four columns">
{% if settings.footer_linklist_2 != blank %}
            <h6 class="title">{{ linklists[settings.footer_linklist_2].title }}</h6>
            <ul class="footer_menu">
{% for link in linklists[settings.footer_linklist_2].links %}
                <li><a href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a></li>
{% endfor %}
            </ul><!--/footer_menu-->
{% endif %}
        </div><!--/columns-->
        <div class="four columns">
{% if settings.footer_content_page != blank %}
            <h6 class="title">{{ pages[settings.footer_content_page].title }}</h6>
            {{ pages[settings.footer_content_page].content }}
{% endif %}

{% if settings.social_icons_footer %}
            <ul class="social_icons">
{% if settings.twitter_link != '' %}
                <li><a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" rel="me" target="_blank" class="icon-twitter"></a></li>
{% endif %}
{% if settings.facebook_link != '' %}
                <li><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" rel="me" target="_blank" class="icon-facebook"></a></li>
{% endif %}
{% if settings.google_link != '' %}
                <li><a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" rel="publisher" target="_blank" class="icon-google-plus"></a></li>
{% endif %}
{% if settings.youtube_link != '' %}
                <li><a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" rel="me" target="_blank" class="icon-youtube"></a></li>
{% endif %}
{% if settings.vimeo_link != '' %}
                <li><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" rel="me" target="_blank" class="icon-vimeo-2"></a></li>
{% endif %}
{% if settings.pinterest_link != '' %}
                <li><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" rel="me" target="_blank" class="icon-pinterest"></a></li>
{% endif %}
{% if settings.tumblr_link != '' %}
                <li><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" rel="me" target="_blank" class="icon-tumblr"></a></li>
{% endif %}
{% if settings.linkedin_link != '' %}
                <li><a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" rel="me" target="_blank" class="icon-linkedin"></a></li>
{% endif %}
{% if settings.flickr_link != '' %}
                <li><a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" rel="me" target="_blank" class="icon-flickr"></a></li>
{% endif %}
{% if settings.instagram_link != '' %}
                <li><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" rel="me" target="_blank" class="icon-instagram"></a></li>
{% endif %}
{% if settings.email_link != '' %}
                <li><a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" target="_blank" class="icon-mail"></a></li>
{% endif %}
            </ul><!--/social_icons-->
{% endif %}
        </div><!--/columns-->
        <div class="four columns">
            <h6 class="title">{{ 'general.newsletter_form.title' | t }}</h6>
            <p>{{ 'general.newsletter_form.description' | t }}</p>
            {% include 'newsletter' %}
        </div><!--/columns-->
        <div class="sixteen columns mobile_only">
            <p class="mobile_only">
{% if settings.show_multiple_currencies %}
            <label for="currencies">{{ 'layout.general.pick_a_currency' | t }}: </label>
            {% include 'currencies-switcher' %}
{% endif %}
            </p>
        </div><!---/columns-->
    </div><!--/container-->
</div><!--/sub-footer-->
<div class="footer">
    <div class="container">
        <div class="sixteen columns">
            <p class="credits">
                &copy; {{ "now" | date: "%Y" }} {{ shop.name | link_to: '/' }}.
                {{ settings.copyright_text }}
                {% if settings.display_designed_by == true %}
                    {{ 'layout.general.designer_credits_html' | t }}
                {% endif %}
                {{ powered_by_link | replace: 'shopify.com', 'shopify.com/?ref=microapps' }} · <a href="https://moonmail.io" >Amazon SES email marketing</a>
            </p><!--/credits-->
{% if settings.display_payment_methods %}
            <div class="payment_methods">
{% for type in shop.enabled_payment_types %}
                <img src="{{ type | payment_type_img_url }}" alt="{{ type | replace: "_", " " | capitalize }}" />
{% endfor %}
            </div><!--/payment_methods-->
{% endif %}
        </div><!--/columns-->
    </div><!--/container-->
    <div id="search">
        <div class="container">
            <div class="ten columns offset-by-three center">
                <div class="right search-close">X</div>
                <form action="/search">
{% if settings.search_option != 'everything' %}
                    <input type="hidden" name="type" value="product" />
{% endif %}
                    <span class="icon-search search-submit"></span>
                    <input type="text" name="q" placeholder="{{ 'general.search.placeholder_with_shop_name' | t: shop_name: shop.name }}" value="{% if search and search.results.first.price %}{{ search.terms }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
                </form>
            </div><!--/columns-->
        </div><!--/container-->
    </div><!--/search-->
</div><!--/footer-->