<div id="header" class="mm-fixed-top">
    <a href="#nav" class="icon-menu"> <span>{{ 'layout.general.menu' | t }}</span></a>
    <a href="#cart" class="icon-cart right">{% if cart.item_count > 0 %}<div class="cart_count">{{ cart.item_count }}</div>{% endif %} <span>{{ 'layout.general.cart' | t }}</span></a>
</div>
<div class="hidden">
    <div id="nav">
        <ul>
            {% for link in linklists[settings.main_linklist].links %}
            {% if linklists[link.handle] == empty %}
            <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% else %}
            <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a>
                <ul>
                    {% for link in linklists[link.handle].links %}
                    {% if linklists[link.handle] == empty %}
                    <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% else %}
                    <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a> 
                        <ul>
                            {% for link in linklists[link.handle].links %}                        
                            <li {% if link.active %}class="Selected"{% endif %}><a href="{{ link.url }}">{{ link.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% endfor %}
            {% if shop.customer_accounts_enabled %}
                {% if customer %}
            <li><a href="/account">{{ customer.name }}</a></li>
            <li>{{ 'layout.customer.log_out' | t | customer_logout_link }}</li>
                {% else %}
            <li>{{ 'layout.customer.my_account' | t | customer_login_link }}</li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
    <form action="/checkout" method="post" id="cart">
        <ul data-money-format="{{ shop.money_format }}" data-shop-currency="{{ shop.currency }}" data-shop-name="{{ shop.name | escape }}">
            <li class="mm-subtitle"><a class="mm-subclose continue" href="#cart">{{ 'layout.general.continue_shopping' | t }}</a></li>
            {% if cart.item_count == 0 %}
            <li class="mm-label empty_cart"><a href="/cart">{{ 'layout.general.empty_cart' | t }}</a></li>
            {% else %}
            {% for item in cart.items %}
            <li class="cart_item">
                <a href="{{ item.url }}">
                    <div class="cart_image">
                        <img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}" />
                    </div>
                    <div class="item_title">{{ item.title }}</div>
                    <strong class="price">{{ item.price | money }}</strong>
                    <div class="quantity_selector">
                        <span class="minus">-</span>
                        {% if customer.tags contains 'Wholesaler'%}
                        {% assign mistags = item.product.tags %}
                        {% include 'wholesaler-product-minimum' %}
                        <input type="number" {% if wsmin %} min="{{wsmin}}" {% endif %} class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
                        {% else %}
                        <input type="number" min="1" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" />
                        {% endif %}
                        <span class="plus">+</span>
                    </div>
                </a>
            </li>
            {% endfor %}
            <li class="mm-label">
                <p class="mm-counter">{{ cart.total_price | money }}</p>
                <a href="/cart">
                    <strong>{{ 'layout.general.subtotal' | t }}</strong>
                </a>
            </li>
            <li class="mm-subtitle clearfix">
                {% if settings.display_special_instructions %} 
                <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}" class="clearfix">{{ cart.note }}</textarea>        
                {% endif %}
                {% if settings.display_tos_checkbox %}
                <p class="tos">
                    <input type="checkbox" class="tos_agree" id="sliding_agree" />
                    <label class="tos_label" for="sliding_agree">
                        {{ 'cart.general.agree_to_terms_html' | t }}
                    </label>
                </p>
                {% endif %}
                <input type="submit" class="action_button right" value="{{ 'layout.general.checkout' | t }}" />
                <a href="/cart" class="action_button edit_cart left">{{ 'layout.general.edit_cart' | t }}</a>
            </li>
            {% endif %}
        </ul>
    </form><!--/#cart-->
</div><!--/hidden-->
<div class="header {% if settings.fixed_header %}mm-fixed-top{% endif %} {% unless template contains "index" %}header_bar{% endunless %}">
            {% if settings.promo_text != blank %}
    <div class="promo_banner">
        {{ settings.promo_text }}
    </div>
            {% endif %}
    <div class="container">
{% comment %}
HC 03/04/2016 remove logo spread out the menu-->
<div class="four columns logo">
<a href="{{ shop.url }}" title="{{ shop.name }}">
{% if settings.use_logo %}
<img src="{% if settings.use_logo_home and template contains "index" %}{{ 'logo_home.png' | asset_url }}{% else %}{{ 'logo.png' | asset_url }}{% endif %}" alt="{{ shop.name }}" data-src="{{ 'logo.png' | asset_url }}" {% if settings.use_logo_home %}data-src-home="{{ 'logo_home.png' | asset_url }}"{% endif %} />
{% else %}
{{ shop.name }}
{% endif %}
</a>
</div>
HC 03/04/2016 Change twelve columns to sixteen
{% endcomment %}
        <div class="sixteen columns nav mobile_hidden">
            <ul class="menu">
            {% if customer.tags contains 'Wholesaler'  %}           
                {%assign my_menu_links = linklists['main-menu-wholesaler'].links %}
            {% else %}          
                {%assign my_menu_links = linklists[settings.main_linklist].links %}
            {%endif%}

            {% for link in my_menu_links %}
                {% assign linkTitle = link.title | handleize %}
                {% assign linkTitle = linkTitle | append: '.png' %}
                {% if linklists[link.handle] == empty %}  
                <li><a href="{{ link.url }}" class="top-link {% if link.active %}active{% endif %}">{{ linkTitle | asset_url | img_tag }}</a></li>
                {% else %}
                    {% comment %}
                    Find out how many sub-links there are total in order to determine if the drop down should be split.
                    {% endcomment %}
                    {% assign count = 0 %}
                    {% for link in linklists[link.handle].links %}
                        {% capture count %}{{ count }}*{% endcapture %}
                        {% if linklists[link.handle] != empty %}
                            {% for link in linklists[link.handle].links %}
                                {% capture count %}{{ count }}*{% endcapture %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    {% assign column_threshold = settings.dropdown_column_links | minus: 0 %}
                <li><a href="{{ link.url }}" class="sub-menu {% if link.active %}active{% endif %} {% for link in linklists[link.handle].links %}{% for l in linklists[link.handle].links %} {% if l.active %}active{% endif %}{% endfor %}{% if link.active %}active{% endif %}{% endfor %}">{{ linkTitle | asset_url | img_tag }}                     
                    <span class="arrow">▾</span></a> 
                    <div class="dropdown {% if count.size > column_threshold %}dropdown-wide{% endif %}">
                        <ul>
                        {% assign count = 0 %}
                        {% assign split = false %}
                        {% for link in linklists[link.handle].links %}
                            {% capture count %}{{ count }}*{% endcapture %}
                            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                                {% if linklists[link.handle] != empty %}
                                    {% for link in linklists[link.handle].links %}
                                        {% capture count %}{{ count }}*{% endcapture %}
                                        <li><a class="sub-link" href="{{ link.url }}">{{ link.title }}</a></li>
                                    {% endfor %}
                                {% endif %}
                                {% if count.size > column_threshold and split == false %}
                                    {% assign split = true %}
                            </ul>
                        <ul>
                                {% endif %}
                        {% endfor %}
                        </ul>
                    </div><!--/dropdown-->
                </li>
                {% endif %}
            {% endfor %}
            {% if settings.social_icons_enabled %}
                {% if settings.twitter_link != '' %}
                <li><a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" rel="me" target="_blank" class="icon-twitter"></a></li>
                {% endif %}
                {% if settings.facebook_link != '' %}
                <li><a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" rel="me" target="_blank" class="icon-facebook"></a></li>
                {% endif %}
                {% if settings.google_link != '' %}
                <li><a href="{{ settings.google_link }}" title="{{ shop.name }} on Google+" rel="publisher" target="_blank" class="icon-google-plus"></a></li>
                {% endif %}
                {% if settings.youtube_link != '' %}
                <li><a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" rel="me" target="_blank" class="icon-youtube"></a></li>
                {% endif %}
                {% if settings.vimeo_link != '' %}
                <li><a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" rel="me" target="_blank" class="icon-vimeo-2"></a></li>
                {% endif %}
                {% if settings.pinterest_link != '' %}
                <li><a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" rel="me" target="_blank" class="icon-pinterest"></a></li>
                {% endif %}
                {% if settings.tumblr_link != '' %}
                <li><a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" rel="me" target="_blank" class="icon-tumblr"></a></li>
                {% endif %}
                {% if settings.linkedin_link != '' %}
                <li><a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" rel="me" target="_blank" class="icon-linkedin"></a></li>
                {% endif %}
                {% if settings.flickr_link != '' %}
                <li><a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" rel="me" target="_blank" class="icon-flickr"></a></li>
                {% endif %}
                {% if settings.instagram_link != '' %}
                <li><a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" rel="me" target="_blank" class="icon-instagram"></a></li>
                {% endif %}
                {% if settings.email_link != '' %}
                <li><a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" target="_blank" class="icon-mail"></a></li>
                {% endif %}
            {% endif %}
            {% if shop.customer_accounts_enabled %}
                <li><a href="/account" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}" class="icon-user" style='font-size: 30px;'></a></li>
            {% endif %}
            {% if settings.search_enabled %}
                <li><a href="/search" title="{{ 'general.search.title' | t }}" class="icon-search" id="search-toggle"></a></li>
            {% endif %}
            {% if settings.show_multiple_currencies %}
                <li>{% include 'currencies-switcher' %}</li>
            {% endif %}
                <li>
            {% if customer.tags contains 'Wholesaler'%}
                    <a href="/cart"class="icon-cart cart-button">{% if cart.item_count > 0 %}<div class="cart_count">{{ cart.item_count }}</div>{% endif %} <span>{{ 'layout.general.cart' | t }}</span></a>
            {% else %}
                    <a href="#cart" class="icon-cart cart-button">{% if cart.item_count > 0 %}<div class="cart_count">{{ cart.item_count }}</div>{% endif %} <span>{{ 'layout.general.cart' | t }}</span></a>
            {% endif %} 
                </li>
            </ul><!--/menu-->
        </div><!--/nav-mobile-->
    </div><!--/container-->
</div><!--/header-->