{% assign exclude_tags = "Flower de lys, Fluer de lys, Fleur de lis, Flower de lis, Vinyard, Wine, Wine Grapes, Creche" %}
{%comment%}{% assign exclude_tags = exclude_tags | split: ',' %}{%endcomment%}

{% paginate collection.products by settings.pagination_limit %}

  <div class="sixteen columns breadcrumb clearfix">
    <div class="eight columns breadcrumb_text alpha">
      {% if settings.collection_breadcrumb %}
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ shop.url }}" title="{{ shop.name | escape }}" itemprop="item"><span itemprop="name">{{ 'general.breadcrumbs.home' | t }}</span></a></span> 
        &nbsp; / &nbsp;
        <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="{{ collection.url }}" title="{{ collection.title | escape }}" itemprop="item"><span itemprop="name">{{ collection.title }}</span></a></span>       
        {% if current_tags %}
          {% for tag in current_tags %}
            &nbsp; / &nbsp;
            <span itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"><a href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}" title="{{ tag | escape }}" itemprop="item"><span itemprop="name">{{ tag }}</span></a></span>
          {% endfor %}
        {% endif %}
      
        {% if paginate.pages != 0 %}      
          &nbsp; / &nbsp; {{ 'general.breadcrumbs.page' | t: current_page: paginate.current_page, pages: paginate.pages }}
        {% endif %}
      {% else %}
        &nbsp;
      {% endif %}
    </div>

    
    {% if collection.handle != blank and collection.products_count > 0 %}
    <!-- HC 02/25/2016 hidden
      {% if settings.collection_tags %}        
        <div class="four columns section_select {% unless settings.collection_sort %}offset-by-four omega{% endunless %}">
          {% for tag in collection.all_tags %}
            {% if forloop.first %}
              <label for="tag_filter" class="inline">{{ 'collections.sorting.filter' | t }}: </label> 
              <select name="tag_filter" id="tag_filter">
                <option {% unless current_tags %}selected="selected"{% endunless %} value="{% if collection.handle == "all" %}/collections/all{% else %}{{ collection.url }}{% endif %}">{{ 'collections.general.all_collection_title' | t: title: collection.title }}</option>
            {% endif %}          
              
            {% unless tag contains 'meta-related-collection-' or tag contains 'Wholesale' or tag contains 'hidePrice' %}
              <option {% if current_tags contains tag %}selected="selected"{% endif %} value="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}">{{ tag }}</option>
            {% endunless %}

            {% if forloop.last %}
              </select>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}-->

     
  {% if settings.collection_sidebar %}
    {% include 'sidebar' %}
    <div class="twelve columns">
  {% else %}
    <div class="sixteen columns">
  {% endif %}

    {% if settings.display_collection_title %}
      <h1>{{ collection.title }}</h1>
       {% if settings.collection_sort %}
        <div class="four columns section_select omega {% unless settings.collection_tags %}offset-by-four{% endunless %}">
          <label for="sort-by" class="inline">{{ 'collections.sorting.title' | t }}: </label> 
          <select id="sort-by">
            <option value="manual">{{ 'collections.sorting.featured' | t }}</option>
            {% comment %}
            <!--  previous best selling functionality HC - RB possible results and to be used only after 1 year - 2 Mar '16 -->
            <option value="best-selling">{{ 'collections.sorting.best_selling' | t }}</option>
            {% endcomment %}
            <!--         show products with the tags Best sellers     -->
            {% comment %}
            {% endcomment %}
            {% for tag in collection.all_tags %}
             {% if tag contains 'Best sellers' %}
            	<option value="{{ tag | handle }}" selected>Best sellers</option>
            	{% break %}
             {% endif %}
            {% endfor %}
            <option value="title-ascending">{{ 'collections.sorting.az' | t }}</option>
            <option value="title-descending">{{ 'collections.sorting.za' | t }}</option>
            <option value="price-ascending">{{ 'collections.sorting.price_ascending' | t }}</option>
            <option value="price-descending">{{ 'collections.sorting.price_descending' | t }}</option>
          </select>
          <script type="text/javascript">
            // <![CDATA[  
              $('#sort-by')
                .val('{{ collection.sort_by | default: collection.default_sort_by  }}')
                .bind('change', function() {
                  Shopify.queryParams.sort_by = $(this).val();
                  location.search = $.param(Shopify.queryParams);
              });
            // ]]>
          </script>
        </div>
      <!-- HC 02/25/2016 Add filter tag custom-->
      {% if settings.collection_tags %}
      <div class="clearfix filter six columns section_select omega">

        <strong class="inline two columns">Select Motif:</strong>
        <select id="collection_filter" class="three columns coll-filter">
          <option value="">All</option>
          {% for tag in collections.all.all_tags %}
          	{% unless exclude_tags contains tag %}
            {% if current_tags contains tag %}
              <option value="{{ tag | handle }}" selected>{{ tag }}</option>
            {% else %}
              {% assign ws_tag = tag | split:':' | first %}

              {% unless tag contains 'Wholesale' or ws_tag contains 'ws-min' or tag contains 'Best sellers' or tag contains 'hidePrice' %}
              	<option value="{{ tag | handle }}">{{ tag }}</option>
              {% endunless %}
            {% endif %}
          	{% endunless %}
          {% endfor %}
        </select>
      </div>
      {% endif %}
      {% endif %}
    {% endif %}
  </div>

    {% endif %}
     

    {% if collection.description != blank %}
      <div class="section clearfix collection_description">    
        {{ collection.description }}
      </div>
    {% endif %}

    {% if collection.products.size == 0 %}
      <div class="section clearfix">     
        <p class="quote">{{ 'collections.general.no_matches' | t }}</p>
      </div>
    {% else %}
      {% assign products = collection.products %}
      {% assign products_per_row = settings.products_per_row %}
      {% include 'product-loop' with settings.collection_sidebar %}
    {% endif %}
      

    {% include 'pagination' with settings.collection_sidebar %}
  </div>
{% endpaginate %}

    <script>
  /* Product Tag Filters - Good for any number of filters on any type of collection pages */
  var collFilters = jQuery('.coll-filter');
  collFilters.change(function() {
    var newTags = [];
    collFilters.each(function() {
      if (jQuery(this).val()) {
        newTags.push(jQuery(this).val());
      }
    });
    if (newTags.length) {
      var query = newTags.join('+');
      window.location.href = jQuery('{{ 'tag' | link_to: '/collections/all/tag' }}').attr('href').replace('tag', query);
    }
    else {
      {% comment %}
      {% if collection.handle %}
      window.location.href = '/collections/{{ collection.handle }}';
      {% elsif collection.products.first.type == collection.title %}
      window.location.href = '{{ collection.title | url_for_type }}';
      {% elsif collection.products.first.vendor == collection.title %}
      window.location.href = '{{ collection.title | url_for_vendor }}';
      {% endif %}
      {% endcomment %}
      window.location.href = '/collections/{{ collection.handle }}';
    }
  });
</script>