<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title {{ page.title | handleize }}">
    {{ page.title }}
  </h1>
</div>

</div>
{{ page.content }}
<div class="container content">