<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">
    {{ page.title }}
  </h1>
</div>

<div class="sixteen columns page {{ page.title | handleize }}">
  {% include 'page-multi-column', content: page.content %}
</div>