<div class="sixteen columns clearfix collection_nav {{ page.title | handleize }}">
  <br/><h1 class="collection_title">
    {{ page.title }}
  </h1>
   
  
  <div class="clearfix" id="customer">  
  <div class="six offset-by-five columns " id="login_form">
      <h1 style='margin-bottom:0'>Existing accounts login here</h1>
    <br class="clear" />
    {% form 'customer_login' %}
      {{ form.errors | default_errors }}

        <label for="customer_email" class="login">{{ 'customer.login.email' | t }}</label>
        <input type="email" value="" name="customer[email]" id="customer_email" class="large" size="30"  autocorrect="off" autocapitalize="off" tabindex="1" />

      {% if form.password_needed %}

        {% comment %}
          Customer Account Login
        {% endcomment %}

        <small class="right"><em><a href="#" onclick="showRecoverPasswordForm()">{{ 'customer.login.forgot_password' | t }}</a></em></small>
        <label for="customer_password" class="login">{{ 'customer.login.password' | t }}</label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="large password" size="16" tabindex="2" />

      {% endif %}

      <input class="btn action_button" type="submit" value="{{ 'customer.login.sign_in' | t }}" style="margin-bottom: 5px !important" tabindex="3" />
		{%comment%}
      {% unless shop.checkout.guest_login %}
        <p class="right" style="padding-top: 8px;">
          {{ 'customer.login.new_customer_label' | t }} {{ 'customer.login.sign_up_html' | t | customer_register_link }}
        </p>
      {% endunless %}
    {%endcomment%}
    
  <p> Are you an existing account and need help logging in to our new site?<br>
    Please contact us at <a href ='mailto:info@crosbyandtaylor.com'>info@crosbyandtaylor.com </a>
     
    </p>
    
    
    {% endform %}

    {% if shop.checkout.guest_login %}
      <span class="or"> {{ 'customer.login.or' | t }} </span>
      {% form 'guest_login' %}
        <input class="guest_button" type="submit" value="{{ 'customer.login.guest_title_html' | t }}" />
      {% endform %}
    {% endif %}
  </div>
    
    <div id="recover-password" style='display:none'>
      <div class="six columns offset-by-five">
    
        <h4>{{ 'customer.recover_password.title' | t }}</h4>

        {% form 'recover_customer_password' %}
          {{ form.errors | default_errors }}

          {% if form.posted_successfully? %}
            {% assign reset_success = true %}
          {% endif %}

          <div id="recover_email" class="clearfix large_form">
            <label for="email" class="large">{{ 'customer.recover_password.email' | t }}</label>
            <input type="email" value="" size="30" name="email" id="recover-email" class="large" autocorrect="off" autocapitalize="off" />
          </div>
          
          <p>
            <em class="note">{{ 'customer.recover_password.subtext' | t }}</em>
          </p>
          
          <div class="action_bottom">
            <input class="btn action_button" type="submit" value="{{ 'customer.recover_password.submit' | t }}" />
            <span class="note">{{ 'customer.recover_password.or' | t }} <a href="#" onclick="hideRecoverPasswordForm()">{{ 'customer.recover_password.cancel' | t }}</a></span>
          </div>
        {% endform %}
      </div>
    </div>
  </div>


<script type="text/javascript">
  function showRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'block';
    document.getElementById('login_form').style.display='none';
    return false;
  }

  function hideRecoverPasswordForm() {
    document.getElementById('recover-password').style.display = 'none';
    document.getElementById('login_form').style.display = 'block';
    return false;
  }

  if (window.location.hash == '#recover') { showRecoverPasswordForm() }

  // reset_success is only true when the reset form is
  {% if reset_success %}
    showRecoverPasswordForm();
  {% endif %}
</script>
  
 

{% form 'contact' %}  

  
  <br><br> <br><br>
  
  <div class="six offset-by-five columns {% if settings.contact_address == blank %}offset-by-five{% endif %}">
  
     <h1 style='margin-bottom:0'>Wholesale Application</h1>
    <span>{{page.content}}</span>
    
    {% if form.posted_successfully? %}
      <p class="quote">Thank you for applying to become a wholesaler. We will review the application and get back to you soon.</p>
    {% endif %}

    {% if form.errors %}
      <p class="quote">{{ 'general.forms.post_error' | t }}</p>

     {% assign message = 'contact.form.message' | t %}
      <ul class="center">
        {% for field in form.errors %}
          {% if field == 'form' %}
            <li>
              {{ form.errors.messages[field] }}
            </li>
          {% else %}
            <li>
              {% assign field_name = field | replace: 'body', message %}
              {{ 'general.forms.post_field_error_html' | t: field: field_name, error: form.errors.messages[field] }}
            </li>
          {% endif %}
        {% endfor %}
       </ul>
    {% endif %}
<!-- <label for="contactFormEmail">{{ 'contact.form.email' | t }} <span class="red">*</span></label> -->
      
      <label>Company Name<span class="red">*</span></label>
      <input type="text" id="contactFormCompanyName" name="contact[companyName]" required>
      
      <label>Owner's First Name<span class="red">*</span></label>
      <input type="text" id="contactFormOwnerName" name="contact[ownerName]" required>
      
    
      <label>Owner's Last Name<span class="red">*</span></label>
      <input type="text" id="contactFormOwnerSurname" name="contact[ownerSurname]" required>
    
    
      <label>Email Address<span class="red">*</span></label>
      <input type="email" id="contactFormEmail" name="contact[email]" required>
    
      <label>Tax # or Fed ID #<span class="red">*</span></label>
      <input type="text" id="contactFormTaxId" name="contact[taxId]" required>
    
      <label>Number of Years in Business<span class="red">*</span></label>
      <input type="text" id="contactFormYearsInBusiness" name="contact[yearsInBusiness]" required>
    
      <label>Types of Products Carried<span class="red">*</span></label>
      <input type="text" id="contactFormTypesOfProducts" name="contact[typesOfProducts]" required>
    
      <label>Phone<span class="red">*</span></label>
      <input type="tel" id="contactFormPhone" name="contact[phone]" required>
    
      <label>Fax</label>
      <input type="text" id="contactFormFax" name="contact[fax]">
    
      <label>Address<span class="red">*</span></label>
      <input type="text" id="contactFormAddress" name="contact[address]" required>
    
      <label>City<span class="red">*</span></label>
      <input type="text" id="contactFormCity" name="contact[city]" required>
    
      <label>State<span class="red">*</span></label>
      <input type="text" id="contactFormState" name="contact[state]" required>
    
      <label>Zip<span class="red">*</span></label>
      <input type="text" id="contactFormZip" name="contact[zip]" required>
    
      <label>Country<span class="red">*</span></label>
      <input type="text" id="contactFormCountry" name="contact[country]" required>
    
      <label>Company Website</label>
      <input type="text" id="contactFormWebsite" name="contact[website]" >
    
      <label>How did you hear about us?<span class="red">*</span></label>
      <input type="text" id="contactFormHearAboutUs" name="contact[HearAboutUs]" required>
    
    
      <input type="submit" class="submit sign_up" value="Submit Application Form" />
  </div>

{% endform %}
  
  </div>